body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    background-color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #333;
    color: #fff;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    ;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px;
}

nav ul li a:hover {
    border: 2px solid;
    border-radius: 5px;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    nav {
        margin-top: 20px;
        width: 100%;
    }

    nav ul {
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
}

#hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/background.webp") no-repeat center center;
    background-size: cover;
    color: #fff;
}

#hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
    font-family: monospace;
}

.hero-button-container {
    margin-top: 20px;
}

.hero-button {
    text-decoration: none;
    color: #fff;
    border: 2px solid;
    border-radius: 5px;
    padding: 6px;
}

.hero-button:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

#about-me, #experience {
    border: 2px solid #333;
    padding: 20px;
    margin: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgb(0, 0, 0, 0.1);
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

.section-text, .experience-list {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    text-align: justify;
}

.experience-list {
    list-style: none;
    padding: 0px;
}

.experience-list strong {
    font-size: 18px;
    color: #333;
}

.experience-list p {
    margin: 5px 0px 0px 0px;
    font-size: 14px;
    color: #555;
}
