:root {
    --primary-color: rgb(54, 54, 54);
    --secondary-color: rgb(136, 255, 0);
    --tertiary-color: rgb(87, 87, 87);
    --text-color: #fff;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    background-color: var(--tertiary-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.logo {
    font-family: "Merriweather", sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    color: var(--text-color);
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
}

nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
    padding: 10px;
}

nav ul li a:hover {
    border: 2px solid;
    border-radius: 5px;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    nav {
        margin-top: 20px;
        width: 100%;
    }

    nav ul {
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
}

#hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/background.webp") no-repeat center center;
    background-size: cover;
}

#hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

#hero h1 strong {
    font-family: "Anton", sans-serif;
}

.hero-button-container {
    margin-top: 20px;
}

.hero-button {
    text-decoration: none;
    color: var(--text-color);
    border: 2px solid;
    border-radius: 5px;
    padding: 6px;
}

.hero-button:hover {
    color: var(--primary-color);
    background-color: var(--text-color);
    border-color: var(--text-color);
}

#about-me,
#experience,
#projects,
#skills,
#contact-me {
    padding: 20px;
}

#about-me {
    background-color: var(--primary-color);
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--text-color);
    text-align: center;
}

.section-text,
.experience-list,
.project-description {
    font-size: 16px;
    color: var(--text-color);
    line-height: 1.6;
    text-align: justify;
}

.experience-list {
    list-style: none;
    padding: 0px;
}

.experience-list strong {
    font-size: 18px;
    color: var(--secondary-color);
}

.experience-list p {
    margin: 5px 0px 0px 0px;
    font-size: 14px;
    color: var(--text-color);
}

#projects {
    background-color: var(--primary-color);
}

.project {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.project-title {
    font-size: 20px;
    margin-bottom: 15px;
    color: var(--secondary-color);
}

.project-image {
    width: 200px;
    height: 200px;
    border-radius: 4px;
}

.play-store-button {
    display: block;
    width: 150px;
    margin-top: 15px;
    border-radius: 8px;
}

.play-store-button:hover {
    transform: scale(1.05);
}

#skills {
    background-color: #fff;
}

.skills-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    align-items: center;
    margin-top: 20px;
}

.skills-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--primary-color);
    text-align: center;
}

.skills-grid img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    max-height: 100px;
}

@media (max-width: 768px) {
    .skills-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.contact-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.contact-icons .contact-icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    overflow: hidden;
}

.contact-icons .contact-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-icons .contact-icon:hover {
    transform: scale(1.1);
}

footer {
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: var(--primary-color);
    color: var(--text-color);
}

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    padding: 7px 14px;
    border-radius: 5px;
    cursor: pointer;
}

#backToTop:hover{
    transform: scale(1.1);
}

.arrow {
    font-size: 30px;
}